<div class="card custom-card">
  <div class="card-header justify-content-between">
    <div class="card-title">
      Rounded Buttons
    </div>
    <div class="prism-toggle">
      <button class="btn btn-sm btn-primary-light">Show Code<i
          class="ri-code-line ms-2 d-inline-block align-middle"></i></button>
    </div>
  </div>
  <div class="card-body">
    <div class="btn-list">
      <button type="button" class="btn btn-primary rounded-pill btn-wave">Primary</button>
      <button type="button" class="btn btn-secondary rounded-pill btn-wave">Secondary</button>
      <button type="button" class="btn btn-success rounded-pill btn-wave">Success</button>
      <button type="button" class="btn btn-danger rounded-pill btn-wave">Danger</button>
      <button type="button" class="btn btn-warning rounded-pill btn-wave">Warning</button>
      <button type="button" class="btn btn-info rounded-pill btn-wave">Info</button>
      <button type="button" class="btn btn-light rounded-pill btn-wave">Light</button>
      <button type="button" class="btn btn-dark rounded-pill btn-wave text-white">Dark</button>
      <button type="button" class="btn btn-link rounded-pill btn-wave">Link</button>
    </div>
  </div>
  <div class="card-footer d-none border-top-0">
    <!-- Prism Code -->
    <pre class="language-html"><code class="language-html">&lt;div class="btn-list"&gt;
&lt;button type="button" class="btn btn-primary rounded-pill btn-wave"&gt;Primary&lt;/button&gt;
&lt;button type="button" class="btn btn-secondary rounded-pill btn-wave"&gt;Secondary&lt;/button&gt;
&lt;button type="button" class="btn btn-success rounded-pill btn-wave"&gt;Success&lt;/button&gt;
&lt;button type="button" class="btn btn-danger rounded-pill btn-wave"&gt;Danger&lt;/button&gt;
&lt;button type="button" class="btn btn-warning rounded-pill btn-wave"&gt;Warning&lt;/button&gt;
&lt;button type="button" class="btn btn-info rounded-pill btn-wave"&gt;Info&lt;/button&gt;
&lt;button type="button" class="btn btn-light rounded-pill btn-wave"&gt;Light&lt;/button&gt;
&lt;button type="button" class="btn btn-dark rounded-pill btn-wave text-white"&gt;Dark&lt;/button&gt;
&lt;button type="button" class="btn btn-link rounded-pill btn-wave"&gt;Link&lt;/button&gt;
&lt;/div&gt;</code></pre>
    <!-- Prism Code -->
  </div>
</div>

<router-outlet />